body {
    background-color: rgb(45, 45, 45);
    height: 90vh;
    margin: 0;
    
    
}

.button-div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 46px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.play-div {
padding-top: 100px;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

button {
    border: inset 1px black;
    width: 120px;
    height: 50px;
    background-color: rgb(67, 50, 143);
    color: yellow;
    font-size: 20px;

}

button:hover {
    cursor: pointer;
    background-color: rgb(40, 26, 105);

}

table {
    z-index: 0;
    border-spacing: 0;
    position: absolute;
}

table,
th,
td {
    border: 0;
}

table {
    border-collapse: collapse;
    
}

td {
    text-align: center;
    height: 100px;
    width: 100px;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

table td {
    border: 8px solid rgb(255, 255, 255);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

td {
    text-align: center;
}

.d-none {
    display: none;
}

