table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
    
    height: 100px;
    text-align: center;
    font-size: 2em;
  }

  td {
    height: 100px;
    width:100px;
  }